.container{
    margin-top:50px;
    width: 25%;

}
form{
    background: #2FCC9A;
    border: 2px solid #228E6c;
    border-radius: 10px;
    padding: 20px 10px;
    width: 50%;
    margin: 0 auto;
}
#task{
    width: 60%;
    float: left;
    margin-left: 5%;
}
.wrapper{
    position: relative;
    text-align: center;
}

.info{
    width: 50%;
    margin: 32px auto;
    height: 500px;
    border-radius: 10px;
    border: 3px solid  #228E6c;
    background-color: #2FCC9A;
    
}

.info__btn{
    display: flex;
    position: relative;
    border-bottom: 3px solid  #228E6c;
    padding: 12px;
    background-color: #2FCC9A;
}